<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Key Sentence Extractor</title>
</head>

<body>
  <div class="row">
    <div class="container" id="container-left">
      <object data={{ url_for("static", filename=pdf_filename) }} type="application/pdf" id="pdf-container"></object>
    </div>

    <div class="dragbar" id="col-dragbar"></div>

    <div class="container" id="container-right">
      <div class="container" id="ckp-list"> Candidate Key Phrase List
        {% for name in names %}
        <section class="accordion">
          <input type="checkbox" name="collapse" id={{ name }}>
          <h2 class="handle">
            <label for={{ name }}>26A. Trappist Single</label>
          </h2>
          <div class="content">
            <p><strong>Overall Impression:</strong> A pale, bitter, highly attenuated and well carbonated Trappist ale, showing a fruity-spicy Trappist yeast character, a spicy-floral hop profile, and a soft, supportive grainy-sweet malt palate.</p>
            <p><strong>History:</strong> While Trappist breweries have a tradition of brewing a lower-strength beer as a monk’s daily ration, the bitter, pale beer this style describes is a relatively modern invention reflecting current tastes. Westvleteren first brewed theirs in 1999, but replaced older lower-gravity products.</p>
          </div>
        </section>
        {% endfor %}
      </div>

      <div class="dragbar" id="row-dragbar"></div>

      <div class="container" id="embedding-plot">
        Embedding Plot
      </div>
    </div>
  </div>
</body>

<!-- CSS and JS link -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
<script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>

</html>