<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Key Sentence Extractor</title>
</head>

<body>
  <div class="row">
    <div class="container" id="container-left">
      <object data={{ url_for("static", filename=pdf_filename) }} type="application/pdf" id="pdf-container"></object>
    </div>

    <div class="dragbar" id="col-dragbar"></div>

    <div class="container" id="container-right">
      <div class="container container-right" id="ckp-list"> Candidate Key Phrase List
        <form action="/get_key_phrases/sort" method="post">
          <button type="submit" id="sort-button">Sort</button>
        </form>
        {% for ckp, rank_sent_tup in data["zip_display"] %}
        <section class="accordion">
          <input type="checkbox" name="collapse" id="ckp:{{ ckp }}">
          <h2 class="handle">
            <label for="ckp:{{ ckp }}">
              <strong>Rank:</strong> {{ rank_sent_tup[0] }}
              <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Original Sentence #:</strong> {{ rank_sent_tup[2] }}
              <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Key Phrase:</strong> {{ ckp }}
            </label>
          </h2>
          <div class="content">
            <p><Strong>Full Sentence Display:&nbsp;</Strong>{{ rank_sent_tup[1] }}</p>
          </div>
        </section>
        {% endfor %}
      </div>

      <div class="dragbar" id="row-dragbar"></div>

      <div class="container container-right" id="embedding-plot">
        {% for tupple in data["og_sents"] %}
        <section class="accordion">
          <input type="checkbox" name="collapse" id="Original Sentence #{{ tupple[0] }}">
          <h2 class="handle">
            <label for="Original Sentence #{{ tupple[0] }}">Original Sentence #{{ tupple[0] }}</label>
          </h2>
          <div class="content container-right">
            <p>{{ tupple[1] }}</p>
          </div>
        </section>
        {% endfor %}
      </div>
    </div>
  </div>
</body>

<!-- CSS and JS link -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
<script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>

</html>