<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Key Sentence Extractor</title>
</head>

<body>
  <div class="row">
    <div class="container" id="container-left">
      <div class="wrapper" id="wrapper">
        <div class="drop">
          <div class="cont">
            <i class="fa fa-cloud-upload"></i>
            <div class="tit">
              Drag & Drop
            </div>
            <div class="desc">
              your file to process
            </div>
            <div class="browse">
              click here to browse
            </div>
          </div>
          <output id="list"></output>
          <form id="upload-file" method="post" enctype="multipart/form-data">
                <input name="file" type="file">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- CSS and JS link -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropbox.css') }}" />
<script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>

</html>